<html>

<head>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body id="index">
    <div class="logo">
        <img src="/img/bg.jpg" />
    </div>
    <div class="nama">
        <br>
        <%= nama  %>
            <ul class="skill">
                <% skill.forEach(element => { %>
                    <li>
                        <%= element.skillName %> :
                            <%= element.level %>
                    </li>
                    <% }); %>
            </ul>
    </div>
</body>

</html>